<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(link ,content)">

	<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>board</title>
<link rel="stylesheet"
	href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>


<link rel="stylesheet" href="/assets/css/hero.css">

<th:block th:replace="${link}">
</th:block>
	</head>

	<body>

		<!--==================== 상단 ====================-->
		<!--
		<nav class="navbar forum" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="">
						<h5 class="title is-5">게시판</h5>
					</a>
				</div>
			</div>

			<div class="nav-item me-3 navbar-brand">
				<a href="#" class="btn btn-outline-primary px-4 btm-sm rounded-pill py-1" data-bs-auto-close="outside" data-bs-toggle="dropdown"> 로그인 </a>
			</div>
		</nav>
		<br>
		-->

		<!--====================상단====================-->
		<nav class="navbar forum" role="navigation"
			aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="">
						<h5 class="title is-5">게시판</h5>
					</a>
				</div>
			</div>


			<!-- 드롭다운 -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle col-5"
					data-bs-toggle="dropdown" aria-expanded="false" id="menuBtn">
					게시판</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#" th:href="@{'/'+article+'/'+list+'?'+boardId+'='+10}">자유게시판</a></li>
					<li><a class="dropdown-item" href="#" th:href="@{'/'+article+'/'+list+'?'+boardId+'='+20}">만땅 자료실</a></li>
					<li><a class="dropdown-item" href="#" th:href="@{'/'+article+'/'+list+'?'+boardId+'='+30}">묻고 답하기</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#" th:href="@{'/'+article+'/'+list+'?'+boardId+'='+40}">공지사항</a></li>
				</ul>
			</div>

			<div th:if="${member}==null" class="nav-item me-3 navbar-brand">
				<a href="#" th:href="@{'/'+member+'/'+login}" class="btn btn-outline-primary px-4 btm-sm rounded-pill py-1"
					id="loginBtn"> 로그인 </a>
			</div>
		</nav>
		<br>

		<!--===============content===============-->
		<div class="container">
			<th:block th:replace="${content}"></th:block>
		</div>

		<!--================하단=================-->
		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					Hava a happy day</b>
				</p>
			</div>
		</footer>

	</body>
</th:block>
</html>