<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{layout/layout :: setContent(~{this :: link}, ~{this :: content})}">

	<th:block th:fragment="link">
		<link rel="stylesheet" href="/assets/css/list.css">
	</th:block>


	<th:block th:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col">
					<select class="form-select form-select-sm"
						aria-label="Small select example">
						<option selected>선택</option>
						<option value="1">최신순</option>
						<option value="2">인기순</option>
					</select>
				</div>

				<!--=================버튼==================-->
				<div class="col">
					<div class="field is-grouped justify-content-end">
						<p class="control">
							<input class="input" type="text" placeholder="게시글을 검색해보세요.">
						</p>
						<p class="control">
							<a class="button is-info"> Search </a>
						</p>
					</div>
				</div>
			</div>
			<br>


			<!--================게시판===============-->
			<div class="container">
				<div class="col">
					<table class="table">
						<thead class="table-light">
							<tr>
								<th scope="col">번호</th>
								<th scope="col">제목</th>
								<th scope="col">작성자</th>
								<th scope="col">조회</th>
								<th scope="col">댓글</th>
								<th scope="col">작성일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="articleList, state : ${list}">
								<td th:text="${state.count}">1</td>
								<td><a href="#" th:href="@{'/'+article+'/'+read+'?'+groupNo+'='+${articleList.groupNo}+'&'+levelNo+'='+${articleList.levelNo}}" th:text="${articleList.subject}" style="color:black;">첫번째 게시물</a></td>
								<td th:text="${articleList.writer}">Otto</td>
								<td>
									<p class="info-content">
										<a> <i class="mdi mdi-eye-outline"></i> <small th:text="${articleList.hitcount}">100k</small>
										</a>
									</p>
								</td>
								<td>
									<p class="info-content"></p> <a> <i
										class="mdi mdi-comment-text-multiple-outline"></i> <small>70</small>
								</a>
								</td>
								<td th:text="${articleList.regdate}">2023년 8월 16일</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!--=================버튼==================-->

		<div class="row">
			<div class="col">
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="button">
						<a href="/article/write" style="color: #fff;">글 작성하기</a>
					</button>
				</div>
			</div>
		</div>
		<br>

		<!--==================페이지================-->
		<div>
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">

					<th:block th:if="${pagination.showFirst}">
						<li class="page-item"><a th:href="@{'/'+article+'/'+'list'+'?'+boardId+'='+${boardId}+'&'+requestPage+'='+1}"
							class="page-link" href="#" aria-label="Previous"> <span
								aria-hidden="true">&laquo;&laquo;</span>
						</a></li>
					</th:block>

					<th:block th:if="${pagination.showPrevious}">
						<li class="page-item"><a
							th:href="@{'/'+article+'/'+'list'+'?'+boardId+'='+${boardId}+'&'+requestPage+'='+${pagination.previousStartPage}}"
							class="page-link" href="#" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
					</th:block>

					<th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
						<li class="page-item" th:class="${i == pagination.params.requestPage} ? 'page-item active' : 'page-item'">
							<a class="page-link" href="#" th:href="@{'/'+article+'/'+'list'+'?'+boardId+'='+${boardId}+'&'+requestPage+'='+${i}}"
							th:text="${i}">1</a>
						</li>
					</th:block>

					<th:block th:if="${pagination.showNext}">
						<li class="page-item"><a
							th:href="@{'/'+article+'/'+'list'+'?'+boardId+'='+${boardId}+'&'+requestPage+'='+${pagination.nextStartPage}}"
							class="page-link" href="#" aria-label="Previous"> <span
								aria-hidden="true">&raquo;</span>
						</a></li>
					</th:block>

					<th:block th:if="${pagination.showLast}">
						<li class="page-item"><a
							th:href="@{'/'+article+'/'+'list'+'?'+boardId+'='+${boardId}+'&'+requestPage+'='+${pagination.totalPages}}"
							class="page-link" href="#" aria-label="Previous"> <span
								aria-hidden="true">&raquo;&raquo;</span>
						</a></li>
					</th:block>
				</ul>
			</nav>
		</div>

	</th:block>

</th:block>



</html>