<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 인터페이스이름과 풀패키지명 설정-->
<mapper namespace="com.ezen.mybatis.domain.board.mapper.BoardMapper">
	
	<!-- 게시판 등록 재헌(2023-08-09) -->
	<insert id="create" parameterType="BoardDTO">
		INSERT INTO board(
			board_id,
			category,
			title,
			description)
		VALUES (
			board_id_seq.NEXTVAL,
			#{category},
			#{title},
			#{description})
	</insert>

	<!-- 전체게시판 조회 재헌(2023-08-09) -->
	<select id="findAll" resultType="BoardDTO">
		SELECT board_id id,
		category,
		title,
		description
		FROM board
		ORDER BY board_id
	</select>
	
	<!-- 게시판 수정 재헌(2023-08-09) -->
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE board
		<set>
			<if test="title != null">title = #{title}, </if>
			<if test="description != null">description = #{description} </if>
		</set>
		WHERE board_id = #{boardId}
	</update>
	
	
</mapper>